In [26]:
#Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive


def divisible(lb,up):
    for i in range(lb,up+1):
        if i%6==0 and 100%i!=0:
            print(i,end=" ")
    return
    
lb,up = input().split()
divisible(int(lb),int(up))

1 200
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198

In [29]:
#Function to find the average of cubes of all even numbers in a given range(lb, ub) inclusive

def cubes(lb,ub):
    sum = k = m = 0
    for i in range(lb,ub+1):
        if i%2==0:
            k = i**3
            sum=sum + k
            m = m + 1
    print(sum//m)
    
lb,ub = input().split()
cubes(int(lb),int(ub))

1 6
96

In [34]:
#Function to generate the list of factors for a given number


def factors(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
    return

n = int(input())
factors(n)

100
1 2 4 5 10 20 25 50 100

In [36]:
#Function to calculate the factorial of a given number

def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    print(fact)
    return

n = int(input())
factorial(n)

6
720

In [40]:
#Function to check if a given number is Prime

def isPrime(n):
    count = 0
    for i in range(1,n+1):
        if n%i==0:
            count = count + 1
#         print(count)
    if count <= 2:
        return True
    else:
        return False

    
n = int(input())
isPrime(n)

2

True

In [19]:
#Function to calculate the average first N Prime numbers
def isPrime(n):
    count = 0
    for i in range(1,n+1):
        if n%i==0:
            count = count + 1    
    if count == 2:
        return True
    else:
        return False

def firstfive(n):
    sum=c=0
    for i in range(1,n+1):
        if isPrime(i):
            #print(i)
            sum=sum+i
            c=c+1
#     print(sum,c)
    print(sum//c)
    
n = input()
firstfive(int(n))

6
3

In [7]:
#Function to generate all Perfect numbers in a given range

def isperfect(n):
    sum=0
    for j in range(1,n):
        if n%j==0:
            sum+=j
    if sum==n:
        return True
    else:
        return False

def generateperfect(ub):
    for i in range(1,ub+1):
        if isperfect(i):
            print(i,end=" ")
    return
n = int(input())
generateperfect(n)

1000
6 28 496

In [38]:
#Function to calculate the average of all factorials in a given range
def avgFact(n):
    fact=1
    sum=co=0
    for i in range(1,n+1):
        fact *=i
        sum +=fact
        co +=1
    print(sum/co)
    
n=int(input())
avgFact(n)

6
145.5

In [39]:
# Function to generate Multiplication table for a number in a given range
# 10 in the range(100, 102) inclusive
# 10 x 100 = 1000
# 10 x 101 = 1010
# 10 x 102 = 1020


def Multab(n,lw,up):
    for i in range(lw,up+1):
        print(n,"*",i,"=",n*i)
Multab(10,100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020

In [20]:
# 09-07-2019

l = [1,2,3,4,5,6]
l = sorted(l,reverse=True)
l

[6, 5, 4, 3, 2, 1]

In [21]:
name = input()
name

raju

'raju'

In [23]:
n = int(input())
n

23

23

In [24]:
n = float(input())
n

34.778

34.778

In [31]:
# Given the participants ‘n’ score sheet for your University Sports Day, 
# you are required to find the runner-up score. You are given scores. Store them in a list 
# and find the score of the runner-up. (there can be multiple winners - if their scores match). 

#Read the Number of Participants

n=int(input())
scores = []
for i in range(n):
    s = int(input())
    scores.append(s)
scores = sorted(scores,reverse=True)
# scores[1]
max_score = max(scores)
runner_up_score = scores[1]
for i in range(1,n):
    if max_score == scores[i]:
        runner_up_score = scores[i+1]
print(runner_up_score)

5
12
12
12
11
14
12

In [32]:
l = dir(list)
for i in l:
    print(i,end=" ")

__add__ __class__ __contains__ __delattr__ __delitem__ __dir__ __doc__ __eq__ __format__ __ge__ __getattribute__ __getitem__ __gt__ __hash__ __iadd__ __imul__ __init__ __init_subclass__ __iter__ __le__ __len__ __lt__ __mul__ __ne__ __new__ __reduce__ __reduce_ex__ __repr__ __reversed__ __rmul__ __setattr__ __setitem__ __sizeof__ __str__ __subclasshook__ append clear copy count extend index insert pop remove reverse sort

In [52]:
l = [1,2,3,1]
# l.clear() which Clears the list
# l[2] Accessing individual elements in the list
# l2 = l.copy() 
# l2 = ['raju','somu','kishore']
# l2.extend(l) Adds the elements in last of the list
# l2
# l.count(1) returns the total count of particular element in a list
# l.index(2) returns the index of a particular element
l.insert(8,6)
l.index(6)
l.pop()
l
l.remove(1)
l.remove(1)
l.remove(2)
l.remove(3)
l

[]

In [58]:
# Remove an element based on the index

l = ['rajesh','suresh','kiran','raju']
# val = int(input('what index value you want to remove?'))
# for i in range(len(l)-1):
#     if val == i:
#         l.remove(l[i])
l.pop(0)
l

['suresh', 'kiran', 'raju']

In [59]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [60]:
d={1:23,2:24,3:25}
d

{1: 23, 2: 24, 3: 25}

In [76]:
# print(d.popitem())
d.update({3:45})
d.values()

dict_values([24, 45])

In [114]:
dic = {';)':'😊',':[':'💘'}
n= input()
for i in dic.items():
    if d.items == i[0]:
        print(n,i[1])

hi :)

In [82]:
# Dictionaries

sample ={'name':'Raju','age':23,'Profession':'Trainer'}
print(sample['name'])

Raju

In [83]:
sample.get('age')

23

In [84]:
sample['age']=25
sample

{'name': 'Raju', 'age': 25, 'Profession': 'Trainer'}

In [85]:
sample['name'] = 'Somu'
sample

{'name': 'Somu', 'age': 25, 'Profession': 'Trainer'}

In [88]:
for i in sample:
    print(i)

name
age
Profession

In [89]:
for i in sample.values():
    print(i)

Somu
25
Trainer

In [90]:
for i,j in sample.items():
    print(i,":",j)

name : Somu
age : 25
Profession : Trainer

In [92]:
for i in sample.items():
    print(i[0])

name
age
Profession

In [94]:
if 'name' in sample:
    print(name)

raju

In [96]:
if 'model' not in sample:
    print("its not in sample")

its not in sample

In [97]:
len(sample)

3

In [98]:
sample['salary'] = 1000
sample

{'name': 'Somu', 'age': 25, 'Profession': 'Trainer', 'salary': 1000}

In [99]:
sample.pop('Profession')
sample

{'name': 'Somu', 'age': 25, 'salary': 1000}

In [100]:
sample.popitem()
sample

{'name': 'Somu', 'age': 25}

In [108]:
sample.clear()
sample

{}

In [115]:
sample = dict(name='Rajesh',age=24,profession='Trainer')
sample

TypeError: 'dict' object is not callable

In [113]:
sample

{}

In [28]:
# Read all the individual scores of 10 sports persons and display
# the winner name use dictionaries for this problem

sports = {}
# Read Scores and sportspersons names
for i in range(3):
    name = input()
    score = int(input())
    sports[name] = score

max_score = max(sports.values())
# max_score = sorted(sports.values(),reverse=True)
for i,j in sports.items():
    if i[1] == max_score:
        print(j,"-",i[0])
# print(sports)
print(max_score)

raju
34
kiran
35
somu
67
[67, 35, 34]

In [50]:
# Read all the individual scores of the batsmen
# and print their rankings based on the scores
# raju 10
# somu 11
# kiran 12
# rajesh 9
# dinesh 3

# 1 - kiran
# 2 - somu
# 3 - raju
# 4 - rajesh
# 5 - dinesh
d={}
for i in range(3):
    name = input()
    score = int(input())
    d[name] = score

l=d.values()
rank=1
l=sorted(l,reverse=True)

for i in l:
    for j in d.items():
        if i == j[1]:
            print(j[0],rank)
            rank+=1
    i+=1

raju
45
somu
5
kiran
88
kiran 1
raju 2
somu 3

In [30]:
# Given an integer, ’n’ , perform the following conditional actions:
# If ‘n’  is odd, print Weird
# If  ‘n’ is even and in the inclusive range of 2 to 5, print Not Weird
# If  ‘n’ is even and in the inclusive range of 6 to 20 , print Weird
# If  ‘n’ is even and greater than 20, print Not Weird


n=int(input())
if n%2 !=0:
    print("Weird")
else:
    if n>=2 and n<=5:
        print("Not Weird")
    elif n>=6 and n<=20:
        print("Weird")
    else:
        print("Not Weird")

7
Weird

In [ ]:
# A - 1
# B - 2
# C - 3

# Given a string in capital letters
# Convert it into Numerical Format

In [44]:
# Given a factors for 2 numbers

n1=int(input())
n2=int(input())
temp=n1
# if n1>n2:
#     temp=n2
temp=min(n1,n2)
count=0
for i in range(1,temp):
    if n1%i==0 and n2%i==0:
#         print(i)
        count+=1
print(count)

10
15
2

In [ ]:
# Find highest Frequent element in the list
[1,1,1,1,2,3,1,2,3,1,2,2,2,3,3]

1

# Find the second highest Frequent element in the list
[1,1,1,1,2,3,1,2,3,1,2,2,2,3,3]
2

# Find the Kth highest Frequent element in the list
[1,1,1,1,2,3,1,2,3,1,2,2,2,3,3]

In [73]:
# Find the absolute difference of two numbers
# without using abs function
# abs(10-19)
# 9
def aaa(l):
    if l<=0:
        print(l*(-1))
    else:
        print(l)
n=int(input())
n1=int(input())
if n>n1:
    k=n1-(-n)
else:
    k=n-(-n1)
# print(k)
aaa(k)

10
-19
9

In [75]:
abs(10-19)

9

In [130]:
# Find highest Frequent element in the list
# [1,1,1,1,2,3,1,2,3,1,2,2,2,3,3]

# 1

def highestfreq(l):
    unique={}
    for i in l:
        if i in unique:
            unique[i]+=1
        else:
            unique[i]=1
    print(unique)
    maxfreq=sorted(unique.values(),reverse=True)[0]
    maxfreqkeys = []
    for i in unique.items():
        if i[1] == maxfreq:
            maxfreqkeys.append(i[0])
    return min(maxfreqkeys)

highestfreq([1,1,1,1,2,3,1,2,3,1,2,2,2,3,3])

{1: 6, 2: 5, 3: 4}

1

In [133]:
# Find the second highest Frequent element in the list
# [1,1,1,1,2,3,1,2,3,1,2,2,2,3,3]
# 2

def secondLargestfreq(l):
    unique={}
    for i in l:
        if i in unique:
            unique[i]+=1
        else:
            unique[i]=1
    print(unique)
    maxf=list(set(unique.values()))
    maxf=sorted(maxf)[::-1]
    maxfreq=maxf[len(maxf)-2]
    maxfreqkeys = []
    for i in unique.items():
        if i[1] == maxfreq:
            maxfreqkeys.append(i[0])
    return min(maxfreqkeys)

secondLargestfreq([1,1,1,1,2,3,1,2,3,1,2,2,2,3,3])

{1: 6, 2: 5, 3: 4}
[2]

2

In [149]:

# Find the Kth highest Frequent element in the list
# [1,1,1,1,2,3,1,2,3,1,2,2,2,3,3]

def kthLargestFreq(l,k):
    unique={}
    for i in l:
        if i in unique:
            unique[i]+=1
        else:
            unique[i]=1
    print(unique)
    maxf=list(set(unique.values()))
    print(maxf)
    maxf=sorted(maxf,reverse=True)
    print(maxf)
    if len(maxf) >= k:
        maxf=maxf[k-1]
        print(maxf)
        maxfreq=[]
        for i in unique.items():
            if i[1]==maxf:
                maxfreq.append(i[0])
        return min(maxfreq)
    else:
        return -1
            

kthLargestFreq([1,1,1,1,2,3,1,2,3,1,2,2,2,3,3],2)

{1: 6, 2: 5, 3: 4}
[4, 5, 6]
[6, 5, 4]
5

2

In [156]:
#Highest element Frequency 


def highest(l):
    d={}
    for i in l:
        count = l.count(i)
        if i not in d:
            d[i]=count
    return d

highest([1,1,1,1,2,3,1,2,3,1,2,2,2,3,3])

{1: 6, 2: 5, 3: 4}

In [6]:
n=int(input())
l=[]
for i in range(1,n+1):
    s= input()
    k=len(s)
    m=s[k-3:]
    l.append(m)
print(l)
for i in range(len(l)):
    count = l.count(i)
    print(count)

3
google.com
facebook.in
github.com
['com', '.in', 'com']
0
0
0

In [3]:
l=[]
while True:
    n=input()
    if n == 'EXIT':
        break
    else:
        if int(n)%2==0:
            l.append(n)
    for i in range(len(l)):
        print(l[i],end=" ")
print(max(l))

32
32 76
32 76 42
32 76 42 11
32 76 42 23
32 76 42 80
32 76 42 80 EXIT
80

In [9]:
n = int(input())
d={}
for i in range(n):
    s = input().split(".")
#     print(s)
    domain = s[-1]
    if domain not in d:
        d[domain] =1
    else:
        d[domain]+=1
m = max(d.values())
for i in d.items():
    if i[1] == m:
        print(i[0])
# print(d)

3
google.com
hackerrank.com
linkedin.in
com